/* Used Colors:
Grays:
#ffffff - menu background (white)
#f9f9f9 - page background
#eeeeee - well background
#808080 - menu/well/collapsible shadow (gray)
#d3d3d3 - "Coming Soon" background (lightgrey)

Blues:
#e6f9ff - header background, status message background
#00bfff - unvisited link (deepskyblue)
#6495ed - visited link (cornflowerblue)

Reds/pinks:
#f08080 - "Coming Soon" text, error message (lightcoral)
#fff0f0 - error message background (lavenderblush)

Greens:
#ccffe6 - status message background
#00cc66 - status message
*/

html{
    background-color:#f9f9f9;
    padding: 0px 40px;
    font-family: Calibri;
    font-size: 15px;
}

.header{
    background-color: #e6f9ff;
    width: 100%;
    position:absolute;
    top: 0;
    left:0;
    padding: 10px;
    box-shadow: 0 0 3px gray;
}

.h1{
    font-size: 20px;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0;
    font-weight: bold;
}

.h2{
    font-style: italic;
    font-weight: lighter;
    font-size: 15px;
    margin:0;
    font-family: 'Times New Roman', Times, serif;
}

#main{
    margin-right: 20px;
    width: 100%;
}

ul{
    padding-left: 20px;
    margin: 0px;
}

.menu{
    max-width: 250px;
    min-width: 230px;
}
.menuItem{
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 3px gray;
    margin-bottom: 15px;
    padding: 10px
}

.menuHead{
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
    
}

.menuContent p{
    margin: 5px 0px;
}
.well{
    padding: 0px 10px 0px 10px;
    background-color: #eeeeee;
    /*border:1px solid #e7e7e7;*/
    box-shadow: inset 0 0 2px gray;
    border-radius:0px 0px 4px 4px;
}

.answer{
    text-align: right;
    font-weight: bold;
}

.collapsible{
    min-width: 100%;
    text-align: left;
    min-height: 40px;
    margin-top: 20px;
    border-radius: 3px;
    border:0;
    box-shadow: 0 0 3px gray;
    border-bottom:0px;
}

.content{
    max-height: 0;
    transition: max-height 0.9s ease-out, padding 0.05s ease-out;
    overflow: hidden;
    padding-top: 0px;
    box-shadow: 0 0 3px gray;
    background-color: #ffffff;
}

.comingSoon{
    background-color: lightgrey;
    font-size: x-small;
    color: lightcoral;
    padding: 2px;
    width: fit-content;
    border-radius: 2px;
    display: inline;
    font-weight: normal;
}

#statusBox{
    padding: 0 5px;
    border-radius: 3px;
    border-width: 1.5px;
    border-style: solid;
    font-size: small;
}
.status{
    background-color: #e6f9ff;
    color: deepskyblue;
}

.error{
    color: lightcoral;
    background-color: lavenderblush;
}

.confirmation{
    background-color: #ccffe6;
    color: #00cc66;
}

a:link{
    color: deepskyblue;
}
a:visited{
    color:cornflowerblue;
}